.my-progressBar > .bar {
	-fx-background-radius: 30;
	-fx-background-color: linear-gradient(to top left, #ff7f50, #48d1cc);
	-fx-effect: dropshadow(gaussian,  rgba(0,0,0,0.75), 4, 0, 0, 1);	
}
.my-progressBar > .track {
	-fx-background-color: transparent;
}